# SQL Practice
In my data science program, we had some exposure to SQL. To get some more practice in, I've connected to the Northwind sample database to run some intermediate level queries. Some of the queries were given to me by my instructor and a few of them I've added myself. 

This implementation of the Northwind database is PostgreSQL. PostgreSQL is a great implementation of SQL to learn, because it's very popular, it's free and open-source, and the skills are largely applicable to other implementations. I'm also using the sqlalchemy package in Python to query the database and displaying the data as a Pandas Dataframe. I've obfuscated the connection details in the code below, so unfortunately you will not be able to connect to the database yourself.

I hope you enjoy going through my work and as always, feel free to reach out to me via email (joedorfman@gmail.com).

### First connecting to Northwind database (connection details obfustracted)

In [77]:
#import pandas and sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

#create SQL Engine object
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind')

### Exploring the database:

Print out 5 rows from the Orders Table

In [81]:
#selecting all columns from Orders table and returning first 5 rows
query = """
SELECT * 
FROM Orders 
LIMIT 5
"""

#use pandas read_sql_query method to display results of each query
pd.read_sql_query(query, engine)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium

In [24]:
query = """select "Freight" 
from Orders 
limit 5;"""

pd.read_sql(query, conn)

   Freight
0    32.38
1    11.61
2    65.83
3    41.34
4    51.30

Print out 5 rows from the Employees table

In [29]:
query = """
select * 
from Employees 
WHERE "EmployeeID" > '5'
"""
pd.read_sql(query, conn)

,EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,EC2 7JR,UK,(71) 555-7773,428,[],Michael is a graduate of Sussex University (MA...,5,http://accweb/emmployees/davolio.bmp
1,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,RG1 9SP,UK,(71) 555-5598,465,[],Robert King served in the Peace Corps and trav...,5,http://accweb/emmployees/davolio.bmp
2,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,[],Laura received a BA in psychology from the Uni...,2,http://accweb/emmployees/davolio.bmp
3,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27,1994-11-15,7 Houndstooth Rd.,London,None,WG2 7LT,UK,(71) 555-4444,452,[],Anne has a BA degree in English from St. Lawre...,5,http://accweb/emmployees/davolio.bmp

**Join the two tables**

In [53]:
query = """
SELECT *
FROM Employees as e
INNER JOIN Orders as o ON e."EmployeeID" = o."EmployeeID"
"""

df = pd.read_sql(query, conn)

In [31]:
query = """
select * 
from Employees as e
inner join Orders as o ON e."EmployeeID" = o."EmployeeID"
"""
pd.read_sql(query, conn)

,EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,...,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,None,...,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,...,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
4,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium
5,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1996-07-24,1996-07-16,2,58.17,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
6,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,None,...,1996-08-08,1996-07-23,2,22.98,Chop-suey Chinese,Hauptstr. 31,Bern,None,3012,Switzerland
7,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27,1994-11-15,7 Houndstooth Rd.,London,None,...,1996-08-09,1996-07-15,3,148.33,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
8,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1996-08-12,1996-07-17,2,13.97,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil
9,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-13,1996-07-22,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
10,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1996-08-14,1996-07-23,1,140.51,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
11,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-15,1996-07-25,3,3.25,Centro comercial Moctezuma,Sierras de Granada 9993,México D.F.,None,05022,Mexico
12,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-16,1996-07-29,1,55.09,Ottilies Käseladen,Mehrheimerstr. 369,Köln,None,50739,Germany
13,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-16,1996-07-30,2,3.05,Que Delícia,"Rua da Panificadora, 12",Rio de Janeiro,RJ,02389-673,Brazil
14,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1996-08-19,1996-07-25,3,48.29,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
15,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27,1994-11-15,7 Houndstooth Rd.,London,None,...,1996-08-20,1996-07-31,3,146.06,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
16,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,...,1996-08-21,1996-08-23,3,3.67,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
17,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1996-08-22,1996-08-12,1,55.28,Blondel père et fils,"24, place Kléber",Strasbourg,None,67000,France
18,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1996-09-06,1996-07-31,3,25.73,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland
19,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1996-08-26,1996-08-06,1,208.58,Frankenversand,Berliner Platz 43,München,None,80805,Germany
20,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1996-08-27,1996-08-02,3,66.29,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela
21,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,None,...,1996-08-14,1996-08-09,1,4.56,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA
22,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1996-08-29,1996-08-02,1,136.54,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland
23,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,...,1996-08-29,1996-08-30,2,4.54,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA
24,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,...,1996-08-30,1996-08-06,2,98.03,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
25,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1996-09-02,1996-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany
26,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02,1993-10-17,Coventry House\nMiner Rd.,London,None,...,1996-09-03,1996-08-16,1,6.01,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
27,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1996-09-04,1996-08-09,1,26.93,Magazzini Alimentari Riuniti,Via Ludovico il Moro 22,Bergamo,None,24100,Italy
28,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1996-08-22,1996-08-14,3,13.84,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico
29,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1996-09-06,1996-08-13,3,125.77,Morgenstern Gesundkost,Heerstr. 22,Leipzig,None,04179,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,...,1998-05-22,1998-04-30,3,24.12,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
801,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1998-05-22,1998-05-04,1,8.34,Gourmet Lanchonetes,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil
802,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1998-05-25,1998-05-05,2,59.41,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
803,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,...,1998-05-25,None,3,2.79,La maison d'Asie,1 rue Alsace-Lorraine,Toulouse,None,31000,France
804,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1998-05-25,1998-05-01,1,67.26,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
805,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1998-05-25,1998-04-29,2,53.05,Piccolo und mehr,Geislweg 14,Salzburg,None,5020,Austria
806,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1998-05-26,None,1,0.33,Cactus Comidas para llevar,Cerrito 333,Buenos Aires,None,1010,Argentina
807,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,...,1998-05-26,1998-05-05,2,120.92,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
808,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1998-05-12,1998-05-01,2,278.96,Eastern Connection,35 King George,London,None,WX3 6FW,UK
809,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1998-05-27,1998-05-01,3,4.13,North/South,South House 300 Queensbridge,London,None,SW7 1RZ,UK
810,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27,1994-11-15,7 Houndstooth Rd.,London,None,...,1998-05-27,None,3,31.14,Blauer See Delikatessen,Forsterstr. 57,Mannheim,None,68306,Germany
811,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1998-06-10,None,2,85.80,Ricardo Adocicados,"Av. Copacabana, 267",Rio de Janeiro,RJ,02389-890,Brazil
812,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1998-05-28,1998-05-04,2,10.98,Franchi S.p.A.,Via Monte Bianco 34,Torino,None,10100,Italy
813,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1998-06-11,None,3,14.01,Great Lakes Food Market,2732 Baker Blvd.,Eugene,OR,97403,USA
814,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1998-05-28,None,2,29.93,Reggiani Caseifici,Strada Provinciale 124,Reggio Emilia,None,42100,Italy
815,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,...,1998-05-28,1998-05-06,2,81.73,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland
816,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1998-05-29,1998-05-04,1,30.09,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
817,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1998-05-29,None,1,12.91,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela
818,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,...,1998-05-29,1998-05-04,2,44.72,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA
819,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1998-05-18,1998-05-06,2,7.98,Drachenblut Delikatessen,Walserweg 21,Aachen,None,52066,Germany
820,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1998-06-01,None,2,81.75,Queen Cozinha,"Alameda dos Canàrios, 891",Sao Paulo,SP,05487-020,Brazil
821,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1998-06-01,1998-05-06,2,15.67,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico
822,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1998-06-02,None,1,136.00,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany
823,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1998-06-02,None,1,0.93,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela
824,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1998-06-02,None,2,258.64,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
825,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,...,1998-06-02,None,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico
826,7,King,Robert,Sales Representative,Mr.,1960-05-29,1994-01-02,Edgeham Hollow\nWinchester Way,London,None,...,1998-06-03,None,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark
827,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09,1994-03-05,4726 - 11th Ave. N.E.,Seattle,WA,...,1998-06-03,None,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
828,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,...,1998-06-03,None,2,38.28,Bon app',"12, rue des Bouchers",Marseille,None,13008,France
829,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,...,1998-06-03,None,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

### Multiple joins

Check out which employees use which shipping companies

In [55]:
query = """
SELECT e."FirstName", e."LastName", s."CompanyName"
from Employees as e
JOIN Orders as o ON e."EmployeeID" = o."EmployeeID"
JOIN Shippers as s ON o."ShipVia" = s."ShipperID" 
"""

pd.read_sql(query, conn)

    FirstName   LastName       CompanyName
0      Steven   Buchanan  Federal Shipping
1     Michael     Suyama    Speedy Express
2    Margaret    Peacock    United Package
3       Janet  Leverling    Speedy Express
4    Margaret    Peacock    United Package
5       Janet  Leverling    United Package
6      Steven   Buchanan    United Package
7        Anne  Dodsworth  Federal Shipping
8       Janet  Leverling    United Package
9    Margaret    Peacock  Federal Shipping
10      Nancy    Davolio    Speedy Express
11   Margaret    Peacock  Federal Shipping
12   Margaret    Peacock    Speedy Express
13   Margaret    Peacock    United Package
14      Laura   Callahan  Federal Shipping
15       Anne  Dodsworth  Federal Shipping
16    Michael     Suyama  Federal Shipping
17     Andrew     Fuller    Speedy Express
18      Janet  Leverling  Federal Shipping
19   Margaret    Peacock    Speedy Express
20      Laura   Callahan  Federal Shipping
21     Steven   Buchanan    Speedy Express
22      Nancy    Davolio    Speedy Express
23    Michael     Suyama    United Package
24    Michael     Suyama    United Package
25      Janet  Leverling  Federal Shipping
26    Michael     Suyama    Speedy Express
27      Nancy    Davolio    Speedy Express
28      Laura   Callahan  Federal Shipping
29     Andrew     Fuller  Federal Shipping
..        ...        ...               ...
800    Robert       King  Federal Shipping
801     Janet  Leverling    Speedy Express
802     Laura   Callahan    United Package
803    Robert       King  Federal Shipping
804     Janet  Leverling    Speedy Express
805    Andrew     Fuller    United Package
806     Laura   Callahan    Speedy Express
807    Robert       King    United Package
808     Laura   Callahan    United Package
809     Janet  Leverling  Federal Shipping
810      Anne  Dodsworth  Federal Shipping
811    Andrew     Fuller    United Package
812    Andrew     Fuller    United Package
813  Margaret    Peacock  Federal Shipping
814  Margaret    Peacock    United Package
815     Janet  Leverling    United Package
816     Nancy    Davolio    Speedy Express
817     Laura   Callahan    Speedy Express
818    Robert       King    United Package
819     Nancy    Davolio    United Package
820     Laura   Callahan    United Package
821     Nancy    Davolio    United Package
822    Andrew     Fuller    Speedy Express
823     Nancy    Davolio    Speedy Express
824  Margaret    Peacock    United Package
825    Andrew     Fuller    United Package
826    Robert       King    United Package
827     Laura   Callahan    United Package
828  Margaret    Peacock    United Package
829     Nancy    Davolio    United Package

[830 rows x 3 columns]

In [13]:
query = """
select e."FirstName", e."LastName",s."CompanyName"
from Employees as e
join Orders as o  on e."EmployeeID" = o."EmployeeID"
join Shippers as s on o."ShipVia" = s."ShipperID";
"""
pd.read_sql(query, conn)

    FirstName   LastName       CompanyName
0      Steven   Buchanan  Federal Shipping
1     Michael     Suyama    Speedy Express
2    Margaret    Peacock    United Package
3       Janet  Leverling    Speedy Express
4    Margaret    Peacock    United Package
5       Janet  Leverling    United Package
6      Steven   Buchanan    United Package
7        Anne  Dodsworth  Federal Shipping
8       Janet  Leverling    United Package
9    Margaret    Peacock  Federal Shipping
10      Nancy    Davolio    Speedy Express
11   Margaret    Peacock  Federal Shipping
12   Margaret    Peacock    Speedy Express
13   Margaret    Peacock    United Package
14      Laura   Callahan  Federal Shipping
15       Anne  Dodsworth  Federal Shipping
16    Michael     Suyama  Federal Shipping
17     Andrew     Fuller    Speedy Express
18      Janet  Leverling  Federal Shipping
19   Margaret    Peacock    Speedy Express
20      Laura   Callahan  Federal Shipping
21     Steven   Buchanan    Speedy Express
22      Nancy    Davolio    Speedy Express
23    Michael     Suyama    United Package
24    Michael     Suyama    United Package
25      Janet  Leverling  Federal Shipping
26    Michael     Suyama    Speedy Express
27      Nancy    Davolio    Speedy Express
28      Laura   Callahan  Federal Shipping
29     Andrew     Fuller  Federal Shipping
..        ...        ...               ...
800    Robert       King  Federal Shipping
801     Janet  Leverling    Speedy Express
802     Laura   Callahan    United Package
803    Robert       King  Federal Shipping
804     Janet  Leverling    Speedy Express
805    Andrew     Fuller    United Package
806     Laura   Callahan    Speedy Express
807    Robert       King    United Package
808     Laura   Callahan    United Package
809     Janet  Leverling  Federal Shipping
810      Anne  Dodsworth  Federal Shipping
811    Andrew     Fuller    United Package
812    Andrew     Fuller    United Package
813  Margaret    Peacock  Federal Shipping
814  Margaret    Peacock    United Package
815     Janet  Leverling    United Package
816     Nancy    Davolio    Speedy Express
817     Laura   Callahan    Speedy Express
818    Robert       King    United Package
819     Nancy    Davolio    United Package
820     Laura   Callahan    United Package
821     Nancy    Davolio    United Package
822    Andrew     Fuller    Speedy Express
823     Nancy    Davolio    Speedy Express
824  Margaret    Peacock    United Package
825    Andrew     Fuller    United Package
826    Robert       King    United Package
827     Laura   Callahan    United Package
828  Margaret    Peacock    United Package
829     Nancy    Davolio    United Package

[830 rows x 3 columns]

In [14]:
query = """
select c."CompanyName" as "Customer", s."CompanyName" as "Supplier"
from Customers as c
join Orders as o  on c."CustomerID" = o."CustomerID"
join Order_Details as od on o."OrderID" = od."OrderID"
join Products as p on p."ProductID" = od."ProductID"
join Suppliers as s on s."SupplierID" = p."SupplierID"
"""
pd.read_sql(query, conn)

                        Customer                            Supplier
0      Vins et alcools Chevalier  Cooperativa de Quesos 'Las Cabras'
1      Vins et alcools Chevalier                        Leka Trading
2      Vins et alcools Chevalier             Formaggi Fortini s.r.l.
3             Toms Spezialitäten                            Mayumi's
4             Toms Spezialitäten                         G'day, Mate
5                  Hanari Carnes         New England Seafood Cannery
6                  Hanari Carnes                         G'day, Mate
7                  Hanari Carnes          New Orleans Cajun Delights
8           Victuailles en stock                    PB Knäckebröd AB
9           Victuailles en stock                Pasta Buttini s.r.l.
10          Victuailles en stock          New Orleans Cajun Delights
11              Suprêmes délices            Specialty Biscuits, Ltd.
12              Suprêmes délices                     Norske Meierier
13              Suprêmes délices                        Gai pâturage
14                 Hanari Carnes             Formaggi Fortini s.r.l.
15                 Hanari Carnes          Aux joyeux ecclésiastiques
16                 Hanari Carnes                           Karkki Oy
17             Chop-suey Chinese           Refrescos Americanas LTDA
18             Chop-suey Chinese                           Ma Maison
19             Chop-suey Chinese                       Tokyo Traders
20            Richter Supermarkt                      Exotic Liquids
21            Richter Supermarkt                       Pavlova, Ltd.
22            Richter Supermarkt                   Svensk Sjöföda AB
23            Richter Supermarkt                        Gai pâturage
24        Wellington Importadora                         G'day, Mate
25        Wellington Importadora   Plutzer Lebensmittelgroßmärkte AG
26              HILARION-Abastos         Heli Süßwaren GmbH & Co. KG
27              HILARION-Abastos          Aux joyeux ecclésiastiques
28              HILARION-Abastos   Plutzer Lebensmittelgroßmärkte AG
29                  Ernst Handel                      Exotic Liquids
...                          ...                                 ...
2125          Richter Supermarkt                          Lyngbysild
2126          Richter Supermarkt                           Karkki Oy
2127                    Bon app'           Grandma Kelly's Homestead
2128                    Bon app'                            Mayumi's
2129                    Bon app'            Specialty Biscuits, Ltd.
2130  Rattlesnake Canyon Grocery                      Exotic Liquids
2131  Rattlesnake Canyon Grocery                      Exotic Liquids
2132  Rattlesnake Canyon Grocery          New Orleans Cajun Delights
2133  Rattlesnake Canyon Grocery           Grandma Kelly's Homestead
2134  Rattlesnake Canyon Grocery           Grandma Kelly's Homestead
2135  Rattlesnake Canyon Grocery           Grandma Kelly's Homestead
2136  Rattlesnake Canyon Grocery                       Tokyo Traders
2137  Rattlesnake Canyon Grocery  Cooperativa de Quesos 'Las Cabras'
2138  Rattlesnake Canyon Grocery                            Mayumi's
2139  Rattlesnake Canyon Grocery                            Mayumi's
2140  Rattlesnake Canyon Grocery                       Pavlova, Ltd.
2141  Rattlesnake Canyon Grocery            Specialty Biscuits, Ltd.
2142  Rattlesnake Canyon Grocery                    PB Knäckebröd AB
2143  Rattlesnake Canyon Grocery             Formaggi Fortini s.r.l.
2144  Rattlesnake Canyon Grocery          Aux joyeux ecclésiastiques
2145  Rattlesnake Canyon Grocery         New England Seafood Cannery
2146  Rattlesnake Canyon Grocery                          Lyngbysild
2147  Rattlesnake Canyon Grocery                         G'day, Mate
2148  Rattlesnake Canyon Grocery                           Ma Maison
2149  Rattlesnake Canyon Grocery                        Gai pâturage
2150  Rattlesnake Canyon Grocery   Plutzer Lebensmittelgroßmärkte AG
2151  Rattlesnake Canyon Grocery          New Orleans Cajun Delights
2152  Rattlesnake Canyon Grocery                   Svensk Sjöföda AB
2153  Rattlesnake Canyon Grocery   Plutzer Lebensmittelgroßmärkte AG
2154  Rattlesnake Canyon Grocery   Plutzer Lebensmittelgroßmärkte AG

[2155 rows x 2 columns]

### Aggregation

Check out how many times each employee has used each shipping company


**Note some of the funniness I am pulling here**
- aliasing
- quotes
- capitalization

In [64]:
query = """
select e."FirstName", e."LastName" as "Name", s."CompanyName" as Company, count(*) as "Number of times Employee has used Shipper"
from Employees e
join Orders as o  on e."EmployeeID" = o."EmployeeID"
join Shippers s on o."ShipVia" = s."ShipperID"
group by "FirstName","Name", Company;
"""
pd.read_sql(query, conn)

,FirstName,Name,company,Number of times Employee has used Shipper
0,Steven,Buchanan,Federal Shipping,13
1,Robert,King,Federal Shipping,28
2,Andrew,Fuller,Speedy Express,35
3,Laura,Callahan,Federal Shipping,29
4,Michael,Suyama,Speedy Express,23
5,Janet,Leverling,Speedy Express,36
6,Robert,King,United Package,24
7,Nancy,Davolio,Speedy Express,38
8,Laura,Callahan,United Package,48
9,Margaret,Peacock,Speedy Express,46
10,Anne,Dodsworth,Speedy Express,10
11,Steven,Buchanan,United Package,15
12,Anne,Dodsworth,Federal Shipping,14
13,Margaret,Peacock,Federal Shipping,40
14,Nancy,Davolio,Federal Shipping,41
15,Andrew,Fuller,United Package,36
16,Janet,Leverling,Federal Shipping,46
17,Michael,Suyama,United Package,25
18,Michael,Suyama,Federal Shipping,19
19,Janet,Leverling,United Package,45
20,Laura,Callahan,Speedy Express,27
21,Andrew,Fuller,Federal Shipping,25
22,Nancy,Davolio,United Package,44
23,Robert,King,Speedy Express,20
24,Steven,Buchanan,Speedy Express,14
25,Anne,Dodsworth,United Package,19
26,Margaret,Peacock,United Package,70

Exercise:
for each order, find:
- average unit price
- average quantity
- maximum discount

In [68]:
query = """
select AVG("UnitPrice") as "Average selling price per unit", 
        AVG("Quantity") as "Average quantity", 
        MAX("Discount") as "Largest discount"
from ORDER_details
group by "OrderID"
;"""
pd.read_sql(query, conn)

     Average selling price per unit  Average quantity  Largest discount
0                          7.450000         20.000000              0.00
1                         30.400000          4.000000              0.00
2                         24.500000         18.000000              0.00
3                          4.500000         10.000000              0.20
4                         27.000000         17.000000              0.00
5                          9.250000         15.000000              0.00
6                         20.500000         40.000000              0.10
7                         24.166667         14.666667              0.00
8                         27.933333         17.666667              0.00
9                         40.750000         17.500000              0.00
10                         8.433333         11.666667              0.00
11                        28.750000         11.500000              0.00
12                        17.740000         17.800000              0.10
13                        30.400000         12.000000              0.05
14                        19.775000         34.000000              0.00
15                        20.883333         13.000000              0.00
16                        18.300001         33.333333              0.15
17                        23.016666         24.333333              0.05
18                        84.500000         14.750000              0.05
19                        23.666667         12.333333              0.00
20                        65.770000         36.000000              0.10
21                        17.450001          3.000000              0.00
22                        42.636000         23.800000              0.00
23                        28.400000         48.750000              0.20
24                        14.000000         25.000000              0.00
25                        12.983333          9.333333              0.00
26                        22.983334         10.666667              0.00
27                        22.100001         10.000000              0.00
28                        20.466667         25.333333              0.05
29                        10.875000         26.500000              0.25
..                              ...               ...               ...
800                       11.566667         25.000000              0.15
801                       37.316667         26.333333              0.10
802                       22.550000         15.000000              0.00
803                       12.687500         17.250000              0.00
804                       35.099998         50.000000              0.00
805                       17.625000         15.500000              0.00
806                       17.000000         30.000000              0.25
807                       19.537500         50.000000              0.00
808                       18.250000         59.500000              0.10
809                       20.000000         28.000000              0.00
810                       25.710000         17.200000              0.00
811                       38.000000         28.000000              0.00
812                       22.963333         21.666667              0.00
813                       40.950001         16.000000              0.00
814                       34.799999         24.000000              0.00
815                       29.333333         17.666667              0.05
816                       25.216667         18.666667              0.05
817                       26.200001         15.000000              0.00
818                       28.716667         41.666667              0.10
819                       31.500000         24.000000              0.05
820                       22.250000         20.250000              0.00
821                       22.250000         15.250000              0.25
822                       17.743333         40.000000              0.00
823                        9.650000         20.000000              0.20
824                       19.800000         13.000000              0.00
825                       16.825000         15.000000              0.05
826                       23.600000         19.666667              0.00
827                       30.016666         17.000000              0.15
828                       19.375000         10.000000              0.00
829                       28.225000         50.000000              0.25

[830 rows x 3 columns]

Bonus: only show rows with discount greater than zero

In [17]:
query = """
select AVG("UnitPrice") as "Average selling price per unit", 
        AVG("Quantity") as "Average quantity", 
        avg("Discount") as "Largest discount"
from ORDER_details
where "Discount" > 0
group by "OrderID"
limit 5;"""
pd.read_sql(query, conn)

   Average selling price per unit  Average quantity  Largest discount
0                       29.600000         25.000000              0.15
1                       16.200000         10.500000              0.05
2                       33.400002         32.500000              0.05
3                       11.400000         18.000000              0.15
4                       19.266667         40.333333              0.20

In [18]:
query = """
select AVG("UnitPrice") as "Average selling price per unit", 
        AVG("Quantity") as "Average quantity", 
        avg("Discount") as "Largest discount"
from ORDER_details
group by "OrderID"
having avg("Discount") > 0
limit 5;"""
pd.read_sql(query, conn)

   Average selling price per unit  Average quantity  Largest discount
0                       22.300000         20.000000          0.100000
1                       16.400000         13.666667          0.033333
2                       31.333335         35.000000          0.033333
3                       10.266667         19.000000          0.100000
4                       19.266667         40.333333          0.200000

### Self joins

Let's see how we can use joins for more complicated queries on a single table

In [19]:
query = """select * from Employees limit 5"""
pd.read_sql(query, conn)

,EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08,1992-05-01,507 - 20th Ave. E.\nApt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,[],Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19,1992-08-14,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,[],Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30,1992-04-01,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,[],Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19,1993-05-03,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,[],Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04,1993-10-17,14 Garrett Hill,London,None,SW1 8JR,UK,(71) 555-4848,3453,[],Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp

Show which employees were hired on the same day:

In [20]:
query = """select A."HireDate", A."FirstName" || ' ' || A."LastName",
                                B."FirstName" || ' ' || B."LastName" as "Pretty Name" 
from Employees A
join Employees B on A."HireDate" = B."HireDate"
where A."EmployeeID" > B."EmployeeID" 
limit 5;"""
pd.read_sql(query, conn)

     HireDate        ?column?      Pretty Name
0  1993-10-17  Michael Suyama  Steven Buchanan

**All the pairs of people in the same city**

In [21]:
query = """select distinct A."City", A."LastName", B."LastName" 
from Employees A
join Employees B on A."City" = B."City"
where A."EmployeeID" > B."EmployeeID" 
;"""
pd.read_sql(query, conn)

      City   LastName  LastName
0   London     Suyama  Buchanan
1   London  Dodsworth  Buchanan
2   London       King    Suyama
3   London       King  Buchanan
4   London  Dodsworth      King
5  Seattle   Callahan   Davolio
6   London  Dodsworth    Suyama

Ex 1: Find all the employees with the same birth day

Ex 2: Make a list of the names of every employee with the name of their manager

In [36]:
query = """select distinct A."BirthDate", A."LastName", B."LastName" 
from Employees A
join Employees B on A."BirthDate" = B."BirthDate"
where A."EmployeeID" > B."EmployeeID" 
;"""
pd.read_sql(query, conn)

Empty DataFrame
Columns: [BirthDate, LastName, LastName]
Index: []

In [22]:
query = """select A."BirthDate", A."FirstName" || ' ' || A."LastName",
                                B."FirstName" || ' ' || B."LastName" as "Pretty Name" 
from Employees A
join Employees B on A."BirthDate" = B."BirthDate"
where A."EmployeeID" > B."EmployeeID" 
limit 5;"""
pd.read_sql(query, conn)

Empty DataFrame
Columns: [BirthDate, ?column?, Pretty Name]
Index: []

Ex2

In [23]:
query = """select A."FirstName" || ' ' || A."LastName" as "Report Name", 
             concat( B."FirstName", ' ', B."LastName") as "Manager Name"
from Employees A
join Employees B on A."ReportsTo" = B."EmployeeID"
order by "Report Name" asc;"""
pd.read_sql(query, conn)

        Report Name     Manager Name
0    Anne Dodsworth  Steven Buchanan
1   Janet Leverling    Andrew Fuller
2    Laura Callahan    Andrew Fuller
3  Margaret Peacock    Andrew Fuller
4    Michael Suyama  Steven Buchanan
5     Nancy Davolio    Andrew Fuller
6       Robert King  Steven Buchanan
7   Steven Buchanan    Andrew Fuller

### subqueries

You can simplify / use more complex logic by nesting queries.

The inside queries are run first.  You can put them in the select and/or join clauses.

In [24]:
query = """select * from Order_Details 
order by "Discount" desc 
limit 5;"""
pd.read_sql(query, conn)

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10260         62       39.4        15      0.25
1    10260         70       12.0        21      0.25
2    10260         41        7.7        16      0.25
3    10263         30       20.7        60      0.25
4    10263         16       13.9        60      0.25

In [25]:
query = """select od."OrderID", 
    sum( (1-od."Discount") * od."UnitPrice" * od."Quantity") as "OrderTotal"
from Order_Details as od 
group by od."OrderID"
limit 5;"""
pd.read_sql(query, conn)

   OrderID   OrderTotal
0    10248   439.999998
1    10249  1863.400064
2    10250  1552.600023
3    10251   654.059986
4    10252  3597.900145

Here is an example in a `JOIN` statement... note the second select inside parantheses

In [26]:
query = """select c."CompanyName", ot."OrderTotal" from
Customers as c 
join Orders as o 
on c."CustomerID" = o."CustomerID"
join (select od."OrderID", 
    sum( (1-od."Discount") * od."UnitPrice" * od."Quantity") as "OrderTotal"
    from Order_Details as od 
    group by od."OrderID") as ot 
on ot."OrderID" = o."OrderID"
;"""
pd.read_sql(query, conn)

                        CompanyName   OrderTotal
0           Blauer See Delikatessen   148.999996
1         Vins et alcools Chevalier   121.599998
2                          Bon app'   843.000000
3                  La maison d'Asie    36.000000
4               Gourmet Lanchonetes  1020.000000
5            Morgenstern Gesundkost   245.000000
6                        QUICK-Stop  1502.999998
7                      Maison Dewey   946.000000
8                          Bon app'  1820.800000
9                     Hanari Carnes  1535.000000
10    Laughing Bacchus Wine Cellars   277.999992
11                  Königlich Essen   717.599995
12                    Queen Cozinha  1830.780050
13                   Wartian Herkku   346.559995
14               Save-a-lot Markets  4371.599991
15                  Du monde entier   860.099995
16   Furia Bacalhau e Frutos do Mar  1677.300050
17                Let's Stop N Shop  1378.069990
18          Great Lakes Food Market  4806.999997
19              Godos Cocina Típica   858.000000
20               Save-a-lot Markets  4707.540033
21             Spécialités du monde    52.350002
22                  Königlich Essen  5502.110001
23                     Ernst Handel  4899.200003
24                LILA-Supermercado   720.000000
25                   Wolski  Zajazd   399.849999
26                    Rancho grande   686.700005
27       Hungry Coyote Import Store   442.000017
28             Victuailles en stock  1659.199976
29       Rattlesnake Canyon Grocery   507.000000
..                              ...          ...
800              Ricardo Adocicados   818.999984
801    Hungry Owl All-Night Grocers  2023.380021
802               Die Wandernde Kuh   754.999990
803                  Wolski  Zajazd   686.000000
804          Old World Delicatessen  1754.999924
805                  Wartian Herkku   629.500000
806               LILA-Supermercado  1885.000000
807                    Ernst Handel  5217.999985
808                      QUICK-Stop  3849.660050
809              Reggiani Caseifici   560.000000
810              Richter Supermarkt  1823.799984
811              Toms Spezialitäten  1064.000000
812             Gourmet Lanchonetes  1498.349991
813               Chop-suey Chinese  1286.800018
814                   Simons bistro   835.199982
815               Die Wandernde Kuh  1485.799999
816              Ottilies Käseladen  1197.949992
817                  Wartian Herkku   393.000011
818    Hungry Owl All-Night Grocers  2381.049969
819                        Bon app'  2436.179967
820                 Around the Horn  1477.000000
821             Lehmanns Marktstand  1170.374994
822              Richter Supermarkt  1644.599991
823              Reggiani Caseifici   154.399993
824                   Rancho grande   443.399994
825        Blondesddsl père et fils   520.409995
826  Furia Bacalhau e Frutos do Mar  1167.999969
827  Furia Bacalhau e Frutos do Mar  1288.387481
828            GROSELLA-Restaurante   387.500000
829                    Ernst Handel  2158.000050

[830 rows x 2 columns]

### Window functions

These work like aggregations according to group by... but they don't aggregate the rows down to one.  This one creates a running total of the purchases per customer company.

key word: `OVER`
requires `ORDER BY` and optionally `PARTITION BY`

see http://www.postgresqltutorial.com/postgresql-window-function/ for more details

In [27]:
query = """select c."CompanyName", o."OrderDate", 
/* do the window function here  */
    sum(ot."OrderTotal") OVER (PARTITION BY c."CompanyName" ORDER BY o."OrderDate") 

from Customers as c 
join Orders as o 
on c."CustomerID" = o."CustomerID"
join (
/*  this is the subquery  */
        select od."OrderID", 
        sum( (1-od."Discount") * od."UnitPrice" * od."Quantity") as "OrderTotal"
        from Order_Details as od 
        group by od."OrderID"
    ) as ot

on ot."OrderID" = o."OrderID"
;"""
pd.read_sql(query, conn)

                            CompanyName   OrderDate           sum
0                   Alfreds Futterkiste  1997-08-25    814.499983
1                   Alfreds Futterkiste  1997-10-03   1692.500013
2                   Alfreds Futterkiste  1997-10-13   2022.500013
3                   Alfreds Futterkiste  1998-01-15   2868.300013
4                   Alfreds Futterkiste  1998-03-16   3339.500010
5                   Alfreds Futterkiste  1998-04-09   4273.000010
6    Ana Trujillo Emparedados y helados  1996-09-18     88.799999
7    Ana Trujillo Emparedados y helados  1997-08-08    568.549999
8    Ana Trujillo Emparedados y helados  1997-11-28    888.549999
9    Ana Trujillo Emparedados y helados  1998-03-04   1402.949990
10              Antonio Moreno Taquería  1996-11-27    403.199982
11              Antonio Moreno Taquería  1997-04-15   1152.262476
12              Antonio Moreno Taquería  1997-05-13   3093.112470
13              Antonio Moreno Taquería  1997-06-19   5175.112451
14              Antonio Moreno Taquería  1997-09-22   5988.477433
15              Antonio Moreno Taquería  1997-09-25   6363.977433
16              Antonio Moreno Taquería  1998-01-28   7023.977433
17                      Around the Horn  1996-11-15    480.000007
18                      Around the Horn  1996-12-16   1379.000003
19                      Around the Horn  1997-02-21   1786.700000
20                      Around the Horn  1997-06-04   3929.599986
21                      Around the Horn  1997-10-16   5570.599984
22                      Around the Horn  1997-11-14   5798.599983
23                      Around the Horn  1997-11-17   6117.799983
24                      Around the Horn  1997-12-08   7594.799983
25                      Around the Horn  1997-12-24   7785.899977
26                      Around the Horn  1998-02-02   8067.899977
27                      Around the Horn  1998-03-03   8457.899977
28                      Around the Horn  1998-03-16  12899.149974
29                      Around the Horn  1998-04-10  13390.649974
..                                  ...         ...           ...
800              Wellington Importadora  1998-02-24   5448.699971
801              Wellington Importadora  1998-03-09   6068.199971
802                White Clover Markets  1996-07-31    642.199985
803                White Clover Markets  1996-11-01   2938.199998
804                White Clover Markets  1997-03-10   3894.874974
805                White Clover Markets  1997-03-24   4563.674956
806                White Clover Markets  1997-04-11   5952.174948
807                White Clover Markets  1997-07-11   7133.054973
808                White Clover Markets  1997-10-06   9204.254953
809                White Clover Markets  1997-10-08  10200.254953
810                White Clover Markets  1997-10-30  10668.704946
811                White Clover Markets  1997-11-13  12084.704935
812                White Clover Markets  1998-01-30  15608.104933
813                White Clover Markets  1998-02-24  17532.354906
814                White Clover Markets  1998-04-17  26434.854906
815                White Clover Markets  1998-05-01  27363.604900
816                         Wilman Kala  1997-07-30    120.000000
817                         Wilman Kala  1997-09-18    532.350002
818                         Wilman Kala  1997-10-07   1174.350002
819                         Wilman Kala  1998-02-06   1511.149998
820                         Wilman Kala  1998-02-10   2122.449986
821                         Wilman Kala  1998-02-26   2575.349983
822                         Wilman Kala  1998-04-07   3161.349983
823                      Wolski  Zajazd  1996-12-05    459.000006
824                      Wolski  Zajazd  1997-07-25   1267.000006
825                      Wolski  Zajazd  1997-12-23   1666.850005
826                      Wolski  Zajazd  1998-02-04   1826.850005
827                      Wolski  Zajazd  1998-02-25   2254.350005
828                      Wolski  Zajazd  1998-04-03   2940.350005
829                      Wolski  Zajazd  1998-04-23   3531.949996

[830 rows x 3 columns]

show the cumulative number of orders by shipper

In [28]:
query = """ select o."OrderID", s."CompanyName", o."OrderDate",
    count(*) OVER (PARTITION BY s."CompanyName" ORDER by o."OrderDate")
from Orders as o
join Shippers as s on o."ShipVia" = s."ShipperID"
;"""
pd.read_sql(query, conn)

     OrderID       CompanyName   OrderDate  count
0      10248  Federal Shipping  1996-07-04      1
1      10255  Federal Shipping  1996-07-12      2
2      10257  Federal Shipping  1996-07-16      3
3      10259  Federal Shipping  1996-07-18      4
4      10262  Federal Shipping  1996-07-22      5
5      10263  Federal Shipping  1996-07-23      6
6      10264  Federal Shipping  1996-07-24      7
7      10266  Federal Shipping  1996-07-26      8
8      10268  Federal Shipping  1996-07-30      9
9      10273  Federal Shipping  1996-08-05     10
10     10276  Federal Shipping  1996-08-08     11
11     10277  Federal Shipping  1996-08-09     12
12     10283  Federal Shipping  1996-08-16     13
13     10286  Federal Shipping  1996-08-21     14
14     10287  Federal Shipping  1996-08-22     15
15     10289  Federal Shipping  1996-08-26     16
16     10293  Federal Shipping  1996-08-29     17
17     10305  Federal Shipping  1996-09-13     18
18     10306  Federal Shipping  1996-09-16     19
19     10308  Federal Shipping  1996-09-18     20
20     10311  Federal Shipping  1996-09-20     21
21     10316  Federal Shipping  1996-09-27     22
22     10319  Federal Shipping  1996-10-02     23
23     10320  Federal Shipping  1996-10-03     24
24     10322  Federal Shipping  1996-10-04     25
25     10325  Federal Shipping  1996-10-09     26
26     10328  Federal Shipping  1996-10-14     27
27     10333  Federal Shipping  1996-10-18     28
28     10337  Federal Shipping  1996-10-24     29
29     10338  Federal Shipping  1996-10-25     30
..       ...               ...         ...    ...
800    11020    United Package  1998-04-14    299
801    11022    United Package  1998-04-14    299
802    11023    United Package  1998-04-14    299
803    11031    United Package  1998-04-17    301
804    11030    United Package  1998-04-17    301
805    11035    United Package  1998-04-20    302
806    11039    United Package  1998-04-21    304
807    11038    United Package  1998-04-21    304
808    11041    United Package  1998-04-22    306
809    11043    United Package  1998-04-22    306
810    11046    United Package  1998-04-23    308
811    11045    United Package  1998-04-23    308
812    11050    United Package  1998-04-27    310
813    11053    United Package  1998-04-27    310
814    11056    United Package  1998-04-28    312
815    11055    United Package  1998-04-28    312
816    11059    United Package  1998-04-29    313
817    11062    United Package  1998-04-30    316
818    11060    United Package  1998-04-30    316
819    11063    United Package  1998-04-30    316
820    11066    United Package  1998-05-01    317
821    11069    United Package  1998-05-04    320
822    11068    United Package  1998-05-04    320
823    11067    United Package  1998-05-04    320
824    11072    United Package  1998-05-05    322
825    11073    United Package  1998-05-05    322
826    11074    United Package  1998-05-06    326
827    11075    United Package  1998-05-06    326
828    11076    United Package  1998-05-06    326
829    11077    United Package  1998-05-06    326

[830 rows x 4 columns]

In [29]:
# case
# union

# tuning
- `LIMIT` your data
- aggregate before `JOIN`s
- `EXPLAIN`

In [30]:
query = """select c."CompanyName", o."OrderDate", 
/* do the window function here  */
    sum(ot."OrderTotal") OVER (PARTITION BY c."CompanyName" ORDER BY o."OrderDate") 

from Customers as c 
join Orders as o 
on c."CustomerID" = o."CustomerID"
join (
/*  this is the subquery  */
        select od."OrderID", 
        sum( (1-od."Discount") * od."UnitPrice" * od."Quantity") as "OrderTotal"
        from Order_Details as od 
        group by od."OrderID"
    ) as ot

on ot."OrderID" = o."OrderID"
;"""
df = pd.read_sql(query, conn)

In [31]:
df

                            CompanyName   OrderDate           sum
0                   Alfreds Futterkiste  1997-08-25    814.499983
1                   Alfreds Futterkiste  1997-10-03   1692.500013
2                   Alfreds Futterkiste  1997-10-13   2022.500013
3                   Alfreds Futterkiste  1998-01-15   2868.300013
4                   Alfreds Futterkiste  1998-03-16   3339.500010
5                   Alfreds Futterkiste  1998-04-09   4273.000010
6    Ana Trujillo Emparedados y helados  1996-09-18     88.799999
7    Ana Trujillo Emparedados y helados  1997-08-08    568.549999
8    Ana Trujillo Emparedados y helados  1997-11-28    888.549999
9    Ana Trujillo Emparedados y helados  1998-03-04   1402.949990
10              Antonio Moreno Taquería  1996-11-27    403.199982
11              Antonio Moreno Taquería  1997-04-15   1152.262476
12              Antonio Moreno Taquería  1997-05-13   3093.112470
13              Antonio Moreno Taquería  1997-06-19   5175.112451
14              Antonio Moreno Taquería  1997-09-22   5988.477433
15              Antonio Moreno Taquería  1997-09-25   6363.977433
16              Antonio Moreno Taquería  1998-01-28   7023.977433
17                      Around the Horn  1996-11-15    480.000007
18                      Around the Horn  1996-12-16   1379.000003
19                      Around the Horn  1997-02-21   1786.700000
20                      Around the Horn  1997-06-04   3929.599986
21                      Around the Horn  1997-10-16   5570.599984
22                      Around the Horn  1997-11-14   5798.599983
23                      Around the Horn  1997-11-17   6117.799983
24                      Around the Horn  1997-12-08   7594.799983
25                      Around the Horn  1997-12-24   7785.899977
26                      Around the Horn  1998-02-02   8067.899977
27                      Around the Horn  1998-03-03   8457.899977
28                      Around the Horn  1998-03-16  12899.149974
29                      Around the Horn  1998-04-10  13390.649974
..                                  ...         ...           ...
800              Wellington Importadora  1998-02-24   5448.699971
801              Wellington Importadora  1998-03-09   6068.199971
802                White Clover Markets  1996-07-31    642.199985
803                White Clover Markets  1996-11-01   2938.199998
804                White Clover Markets  1997-03-10   3894.874974
805                White Clover Markets  1997-03-24   4563.674956
806                White Clover Markets  1997-04-11   5952.174948
807                White Clover Markets  1997-07-11   7133.054973
808                White Clover Markets  1997-10-06   9204.254953
809                White Clover Markets  1997-10-08  10200.254953
810                White Clover Markets  1997-10-30  10668.704946
811                White Clover Markets  1997-11-13  12084.704935
812                White Clover Markets  1998-01-30  15608.104933
813                White Clover Markets  1998-02-24  17532.354906
814                White Clover Markets  1998-04-17  26434.854906
815                White Clover Markets  1998-05-01  27363.604900
816                         Wilman Kala  1997-07-30    120.000000
817                         Wilman Kala  1997-09-18    532.350002
818                         Wilman Kala  1997-10-07   1174.350002
819                         Wilman Kala  1998-02-06   1511.149998
820                         Wilman Kala  1998-02-10   2122.449986
821                         Wilman Kala  1998-02-26   2575.349983
822                         Wilman Kala  1998-04-07   3161.349983
823                      Wolski  Zajazd  1996-12-05    459.000006
824                      Wolski  Zajazd  1997-07-25   1267.000006
825                      Wolski  Zajazd  1997-12-23   1666.850005
826                      Wolski  Zajazd  1998-02-04   1826.850005
827                      Wolski  Zajazd  1998-02-25   2254.350005
828                      Wolski  Zajazd  1998-04-03   2940.350005
829                      Wolski  Zajazd  1998-04-23   3531.949996

[830 rows x 3 columns]

In [32]:
query = """explain (costs false, analyze) select c."CompanyName", o."OrderDate", 
/* do the window function here  */
    sum(ot."OrderTotal") OVER (PARTITION BY c."CompanyName" ORDER BY o."OrderDate") 

from Customers as c 
join Orders as o 
on c."CustomerID" = o."CustomerID"
join (
/*  this is the subquery  */
        select od."OrderID", 
        sum( (1-od."Discount") * od."UnitPrice" * od."Quantity") as "OrderTotal"
        from Order_Details as od 
        group by od."OrderID"
    ) as ot

on ot."OrderID" = o."OrderID"
;"""
df = pd.read_sql(query, conn)

In [33]:
df.values

array([['WindowAgg (actual time=8.147..8.920 rows=830 loops=1)'],
       ['  ->  Sort (actual time=8.138..8.286 rows=830 loops=1)'],
       ['        Sort Key: c."CompanyName", o."OrderDate"'],
       ['        Sort Method: quicksort  Memory: 89kB'],
       ['        ->  Hash Join (actual time=1.973..3.022 rows=830 loops=1)'],
       ['              Hash Cond: (o."CustomerID" = c."CustomerID")'],
       ['              ->  Hash Join (actual time=1.913..2.572 rows=830 loops=1)'],
       ['                    Hash Cond: (od."OrderID" = o."OrderID")'],
       ['                    ->  HashAggregate (actual time=1.455..1.669 rows=830 loops=1)'],
       ['                          Group Key: od."OrderID"'],
       ['                          ->  Seq Scan on order_details od (actual time=0.003..0.442 rows=2155 loops=1)'],
       ['                    ->  Hash (actual time=0.454..0.454 rows=830 loops=1)'],
       ['                          Buckets: 1024  Batches: 1  Memory Usage: 36kB'],
       ['                          ->  Seq Scan on orders o (actual time=0.002..0.221 rows=830 loops=1)'],
       ['              ->  Hash (actual time=0.056..0.056 rows=91 loops=1)'],
       ['                    Buckets: 1024  Batches: 1  Memory Usage: 6kB'],
       ['                    ->  Seq Scan on customers c (actual time=0.003..0.025 rows=91 loops=1)'],
       ['Planning time: 0.273 ms'],
       ['Execution time: 9.102 ms']], dtype=object)

## Ready to learn more?

Try the tutorials at https://community.modeanalytics.com/sql/ or http://www.tutorialspoint.com/database_tutorials.htm

Practice more at 
- http://sqlzoo.net//
- https://pgexercises.com

See the review sheet at https://gist.github.com/Kartones/dd3ff5ec5ea238d4c546